
<!--created template for messages -->
<div class="header">
  <h1>{{messageCtrl.channel.Name}}</h1>
</div>
<div class="message-wrap" ng-repeat="message in messagesCtrl.messages">
  <img class="user-pic" ng-src="{{channelsCtrl.getGravatar(message,uid)}}"/>
  <div class="message-info">
    <div class="user-name">
      {{channelsCtrl.getDisplayName(message.uid)}}
      <!--add time stamp to template so that user can see when last message was viewd-->
      <span class="timestamp">{{message.timestamp | date:'short'}}</span>
    </div>
    <!--input the message body (text of the message from the model-->
    <div class="message">
      {{message.body}}
    </div>
  </div>
</div>


<form ng-submit="messagesCtrl.sendMessage()" class="message-form ng-pristine ng-valid "> <div class="input-group"> <input type="text" placeholder="Type a message..." ng-model="messagesCtrl.message" class="form-control ng-pristine ng-untouched ng-valid"> <span class="input-group-btn"> <button type="submit" class="btn btn-default">Send</button> </span> </div> </form>



   

